<header class="container-fluid row">
  <div class="col-sm-4">
    <h1>FriendWagers</h1>
  </div>
  <div class="col-sm-8" id="login">
    <form class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="email" />
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="password" />
      </div>
      <input type="submit" class="btn btn-default" value="Sign In" />
    </form>
  </div>
</header>
<div id="content" class="container-fluid">
  <div class="col-sm-8">
    <h2>PLAY<br /><strong>FIFA 15</strong><br />FOR MONEY</h2>
    <h3>JOIN NOW</h3>
  </div>
  <div class="col-sm-4">
    <div id="signup" class="panel panel-default">
      <div class="panel-heading">Sign Up</div>
      <div class="panel-body">
        <ul class="lead bg-success">
          <li>No fees</li>
          <li>Secure payments</li>
        </ul>
        <form id="signup" class="form">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" />
          </div>
          <div class="form-group">
            <label for="xbox">Xbox Gamertag</label>
            <input type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="psn">Playstation Username</label>
            <input type="text" class="form-control" />
          </div>
          <input type="submit" class="btn btn-primary" value="Get Started" />
        </form>
      </div>
    </div>
  </div>
</div>